# Archivos a ignorar específicamente
3.js

# Dependencias
node_modules/
package-lock.json
yarn.lock

# Archivos del sistema
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Archivos de Compilación
dist/
build/
